---
import WarningCircleIcon from "../assets/icons/warning-circle-icon.astro";
interface Props {
  title: string
  text: string
  className?: string;
  id: string;
  headerColor?: string;
}

const { className, id, headerColor, title, text } = Astro.props;

---

<style>
  .card-type2 {
    position: absolute;
    border-radius: 8px;
    transition: all 0.2s ease-in-out;
    transform: translate(-50%, -50%);
    overflow: hidden;
    max-width: 15%;
  }
</style>

<div id={id} class=` card-type2 shadow-lg ${className}`>
  <div class=`rounded-t-box w-full h-10 bg-primary-background-dark ${headerColor}`>
    <WarningCircleIcon />
  </div>
  <div class="rounded-b-box bg-surface-color text-primary-background p-4 pr-20">
    <span class="font-black text-6xl"> {title}</span>
    <p class="font-bold text-sm">{text}</p>
  </div>
</div>
