---
import WarningCircleIcon from "../assets/icons/warning-circle.astro";
interface Props {
  title: string;
  text: string;
  className?: string;
  id: string;
  headerColor?: string;
}

const { className, id, headerColor, title, text } = Astro.props;
---

<style>
  .card-type2 {
    border-radius: 12px;
    transition: all 0.2s ease-in-out;
    overflow: hidden;
    width: 27dvw;
  }

  @media (max-width: 412px) {
    .card-type2 {
      width: 77dvw;
    }
  }
</style>

<div id={id} class=`card-type2  shadow-lg ${className}`>
  <div class=` w-full h-10 ${headerColor}`>
    <WarningCircleIcon />
  </div>
  <div class="w-full bg-surface-color text-primary-background p-4 pr-20">
    <span class="font-black text-4xl"> {title}</span>
    <p class="font-bold text-sm">{text}</p>
  </div>
</div>
