---
import WarningCircleIcon from "../assets/icons/warning-circle.astro";
interface Props {
  title: string;
  text: string;
  className?: string;
  id: string;
  headerColor?: string;
}

const { className, id, headerColor, title, text } = Astro.props;
---

<style>
  .card-type2 {
    border-radius: 12px;
    transition: all 0.2s ease-in-out;
    overflow: hidden;
    width: 80dvw;
  }

  @media (min-width: 810px) {
    .card-type2 {
      width: 30dvw;
    }
  }

  @media (min-width: 1280px) {
    .card-type2 {
      width: 20dvw;
    }
  }

</style>

<div id={id} class=`card-type2 shadow-lg ${className}`>
  <div class=` w-full h-10 ${headerColor}`>
    <WarningCircleIcon />
  </div>
  <div class="w-full bg-surface-color p-4 pr-20 text-primary-background">
    <span class="text-4xl font-black"> {title}</span>
    <p class="text-sm font-bold xl:text-xl">{text}</p>
  </div>
</div>
